table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

th, td {
    padding: 12px; 
    text-align: left; 
    border-bottom: 1px solid #ddd; 
}

th {
    background-color: #f4f4f4; 
    color: #333; 
}

tr:hover {
    background-color: #f1f1f1; 
}

#questionSelectionForm {
    padding-top: 20px;
}
#qa-container {
    flex-grow: 1;
    overflow: hidden;
}

.qatable-responsive {
    max-height: 600px; 
    overflow-y: auto;
}

#qaTable {
    width: 100%;
    border-collapse: collapse;
}

#qaTable thead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
}

#qaTable th, #qaTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
#questionSelectionForm .form-actions {
    padding-top: 20px;
}